<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Отправление ссылки</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'app/style.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">	
			<div class="col-lg-6 form-block px-4">
				<div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">
					<div class="text-center mb-3 mt-5">
						<img  src="{% static 'app/pic/logo.png' %}" width="150px">
					</div>
					<div class="reset-confirmation d-block">
					  <div class="mb-4">
					    <h4 class="mb-3 text-center">Ссылка отправлена</h4>
					    <h6>Пожалуйста, проверьте свой почтовый ящик на наличие ссылки для сброса пароля.</h6>
					  </div>
					</div> 
				</div>
			</div>

			<div class="col-lg-6 form-block px-4">
                <img src="{% static 'app/pic/bg.png' %}" alt="Описание изображения" class="resized-image">
            </div>
		</div>
	</div>

<script src="{% static 'app/js/snowstorm-min.js' %}"></script>

</body>
</html>