<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'app/style.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 form-block px-4">
				<div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">
					<div class="text-center mb-3 mt-5">
						<img  src="{% static 'app/pic/logo.png' %}" width="150px">
					</div>
					<h4 class="text-center mb-4">
						Регистрация аккаунта
					</h4>
					<form method="post">
                        {% csrf_token %}
						<div class="form-input">
							<span><i class="fa fa-user-o"></i></span>
							<input type="text" name="username" placeholder="Введите имя аккаунта" required>
						</div>
						<div class="form-input">
							<span><i class="fa fa-envelope-o"></i></span>
							<input type="email" name="email" placeholder="Введите ваш email адрес" tabindex="10"required>
						</div>
						<div class="form-input">
							<span><i class="fa fa-key"></i></span>
							<input type="password" name="password1" placeholder="Введите ваш пароль" required>
						</div>

                        <div class="form-input">
							<span><i class="fa fa-key"></i></span>
							<input type="password" name="password2" placeholder="Повторите пароль" required>
						</div>
							
						<div class="mb-3 d-flex align-items-center">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="cb1">
								<label class="custom-control-label" for="cb1">Я согласен(на) со всеми условиями</label>
							</div>
						</div>

                        <div class="mb-3 d-flex align-items-center">
                            <ul style="color: red; font-size: 16px">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        </div>

						<div class="mb-3"> 
							<button type="submit" class="btn btn-block">
								Регистрация
							</button>
						</div>

						<div class="text-center mb-3">
							или регистрация с помощью
						</div>
							
						<div class="row mb-3">
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-github">
									<i class="fa fa-github"></i>
								</a>
							</div>

							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-google">
									<i class="fa fa-google"></i>
								</a>
							</div>

							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-vk">
									<i class="fa fa-vk"></i>
								</a>
							</div>
						</div>
							
						<div class="text-center mb-5">
							Уже есть аккаунт?
							<a class="login-link" href="{% url 'app:login' %}">Авторизируйтесь здесь</a>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-6 form-block px-4">
                <img src="{% static 'app/pic/bg.png' %}" alt="Описание изображения" class="resized-image">
            </div>
		</div>
	</div>
<script src="{% static 'app/js/snowstorm-min.js' %}"></script>
</body>
</html>